---
import Layout from '@/layouts/Layout.astro';
import PostLink from '@/components/PostCard.astro';
import CardGrid from '@/components/CardGrid.astro';

// export async function getStaticPaths() {
//   const allPosts = await Astro.glob("/src/pages/posts/**/*.md");

//   const uniqueprojects = [
//     ...new Set(allPosts.map((post) => post.frontmatter.project).flat()),
//   ];

//   return uniqueprojects.map((project) => {
//     const filteredPosts = allPosts.filter((post) =>
//       post.frontmatter.project?.includes(project)
//     );
//     return {
//       params: { project },
//       props: { posts: filteredPosts },
//     };
//   });
// }

const { project } = Astro.params;
// const { posts } = Astro.props;

const allPosts = await Astro.glob('/src/pages/posts/**/*.md');
const filteredPosts = allPosts.filter(post =>
  post.frontmatter.project?.includes(project)
);
const pageTitle = `Proyecto: ${project}`;
---

<Layout pageTitle={pageTitle} pageDescription={pageTitle}>
  <p>Entradas etiquetadas con {project}</p>
  <CardGrid posts={filteredPosts} />
</Layout>
