---
import Layout from "@/layouts/Layout.astro";
import PostLink from "@/components/PostLink.astro";

// export async function getStaticPaths() {
//   const allPosts = await Astro.glob("/src/pages/posts/**/*.md");

//   const uniqueTypes = [
//     ...new Set(allPosts.map((post) => post.frontmatter.type).flat()),
//   ];

//   return uniqueTypes.map((type) => {
//     const filteredPosts = allPosts.filter((post) =>
//       post.frontmatter.type?.includes(type)
//     );
//     return {
//       params: { type },
//       props: { posts: filteredPosts },
//     };
//   });
// }

const { type } = Astro.params;
// const { posts } = Astro.props;

const allPosts = await Astro.glob("/src/pages/posts/**/*.md");
const filteredPosts = allPosts.filter((post) =>
  post.frontmatter.type?.includes(type)
);
const pageTitle = `Tipo: ${type}`;
---

<Layout pageTitle={pageTitle} pageDescription={pageTitle}>
  <p>Entradas etiquetadas con {type}</p>
  <ul>
    {
      filteredPosts.map((post) => (
        <PostLink url={post.url} postInfo={post.frontmatter} />
      ))
    }
  </ul>
</Layout>
