---
import PostCard from '@/components/PostCard.astro';
import ProjectCard from './ProjectCard.astro';

const { posts, projects, isTiny } = Astro.props;
const animationDelayNum = 150;
---

<section class="grid gap-4 grid-cols-auto-fill">
  {
    posts &&
      posts.map((post, index) => {
        let animationDelay = index * animationDelayNum;
        const [lang, ...slug] = post.slug.split('/');
        console.log(post);

        const url = `/${Astro.currentLocale}/posts/${slug.join('/')}`;
        return (
          <PostCard
            {isTiny}
            linkUrl={url}
            postData={post.data}
            class={`animate-fade-in-up`}
            style={`animation-delay: ${animationDelay}ms`}
          />
        );
      })
  }
  {
    projects &&
      projects.map((project, index) => {
        let animationDelay = index * animationDelayNum;
        const [lang, ...slug] = project.slug.split('/');
        const url = `/${Astro.currentLocale}/projects/${slug.join('/')}`;

        return (
          <ProjectCard
            {isTiny}
            linkUrl={url}
            projectData={project.data}
            class={`animate-fade-in-up`}
            style={`animation-delay: ${animationDelay}ms`}
          />
        );
      })
  }
</section>
