---
import PostCard from '@/components/PostCard.astro';
import ProjectCard from './ProjectCard.astro';
import { getSlugWithoutLang } from '@/utils/utils';

const { posts, projects, isTiny } = Astro.props;
const animationDelayNum = 150;

const locale = Astro.currentLocale ?? 'es';
---

<section class="grid gap-4 grid-cols-auto-fill-sm sm:grid-cols-auto-fill">
  {
    posts &&
      posts.map((post, index) => {
        let animationDelay = index * animationDelayNum;
        const slug = getSlugWithoutLang(post.slug);
        const url = `/${locale}/posts/${slug}`;

        return (
          <PostCard
            {isTiny}
            linkUrl={url}
            postData={post.data}
            class={`animate-fade-in-up`}
            style={`animation-delay: ${animationDelay}ms`}
          />
        );
      })
  }
  {
    projects &&
      projects.map((project, index) => {
        let animationDelay = index * animationDelayNum;
        const slug = getSlugWithoutLang(project.slug);
        const url = `/${locale}/projects/${slug}`;

        return (
          <ProjectCard
            {isTiny}
            linkUrl={url}
            projectData={project.data}
            class={`animate-fade-in-up`}
            style={`animation-delay: ${animationDelay}ms`}
          />
        );
      })
  }
</section>
