---
// import { AstroProps } from "astro//types";

// interface Props extends AstroProps {
//   linkUrl: string;
//   name: string;
//   image: string;
// }

const { linkUrl, name, image } = Astro.props;
---

<article
  class={'text-white flex flex-col justify-center bg-primary rounded-lg h-full border-2 border-transparent hover:text-accent hover:border-accent hover:scale-[1.01] transition duration-300 group hover:shadow-accent drop-shadow-md hover:shadow-[0_0_8px_var(--tw-shadow-color)] overflow-hidden relative ' +
    Astro.props.class}
  style={Astro.props.style}>
  {linkUrl && <a href={linkUrl} class="absolute inset-0 z-10" />}
  {
    image && (
      <header class="">
        <img
          src={image}
          alt={`Imagen de portada de ${name}`}
          class="object-cover"
        />
      </header>
    )
  }
  <section
    class="relative flex flex-col gap-2 p-4 shadow-black [text-shadow:_2px_2px_5px_var(--tw-shadow-color)]">
    {
      image && (
        <img
          src={image}
          alt={`Imagen de portada de ${name}`}
          class="mirror absolute inset-0 w-full h-min duration-500 opacity-0  blur group-hover:opacity-50  -z-10 -scale-y-100"
        />
      )
    }
    <h3 class="text-xl">{name}</h3>
  </section>
</article>
<style>
  .mirror {
    mask-image: linear-gradient(to top, black 60%, transparent 90%);
    /* filter: blur(8px); */
  }

  article {
    transition: all 0.3s ease;
    &:is(:hover, :focus) {
      translate: 0 -0.5rem;
    }
  }
</style>
