---
import datos from "@/data/data.json";

import { Icon } from "astro-icon/components";
---

<footer
  class="w-full max-w-7xl flex flex-col sm:flex-row justify-between px-6 pb-6"
>
  <div class="flex flex-col justify-center opacity-50">
    <p>© 2024 {datos.pageTitle}.</p>
    <p class="gap-x-1 flex sm:items-center">
      <span>Powered by</span>
      <span class="flex gap-1 items-center">
        Astro
        <Icon name="tabler:rocket" />
      </span>

      <span class="flex gap-1 items-center">
        React
        <Icon name="tabler:brand-react" />
      </span>
    </p>
  </div>
  <div class="flex flex-col justify-center sm:items-center">
    <p class="opacity-50">
      {datos.updated}
    </p>
    <a
      class="size-fit flex gap-1 items-center px-2 py-1 border-2 border-white opacity-50 rounded-full cursor-pointer hover:bg-white/20 hover:text- hover:scale-110 transition-all duration-200"
      href={datos.links.repo.url}
      target="_blank"
      rel="noreferrer"
      title={datos.links.repo.title}
    >
      <span>{datos.links.repo.title}</span>
      <Icon name="mdi:github" class="size-6" />
    </a>
  </div>
</footer>
