---
import {projects as projectsData, tags as tagsData} from "@/data/tags-data.json";
import TagCard from "./TagCard.astro";

const { tags, isProjectIndex } = Astro.props;

const linkUrlPrefix = isProjectIndex ? `/projects/` : `/tags/`;
const imageGroup = isProjectIndex ? projectsData : tagsData;

---

<section class="grid gap-4 grid-cols-auto-fit-sm">
  {
    tags.map((tag, index) => { 
      let animationDelay = index * 100;
      return (
        <TagCard name={tag} linkUrl={`${linkUrlPrefix}${tag}`} imageUrl={imageGroup[tag]?.image}
        class={`animate-fade-in-up`} style={`animation-delay: ${animationDelay}ms`}/>

    )})
  }
</section>

