---
import '@/styles/global.css';
import { fade } from 'astro:transitions';
import Layout from '@/layouts/Layout.astro';
import CardGrid from '@/components/CardGrid.astro';
import { getCollection } from 'astro:content';
import CustomSeparator from '@/components/general/CustomSeparator.astro';
import { getLocaleTranslation } from '@/i18n/ui';

const locale = Astro.currentLocale ?? 'es';
const ui = getLocaleTranslation(locale);

interface Props {
  categorySlug: string;
  frontmatter: {
    title: string;
    type: 'project' | 'sector';
  };
}
const { frontmatter, categorySlug } = Astro.props;
const { title: categoryName, type: categoryType } = frontmatter;

const filteredProjects = await getCollection('projects', project => {
  if (
    (project.slug.startsWith(locale) &&
      categorySlug === project.data.type.slug) ||
    categorySlug === project.data.sector.slug
  ) {
    return project;
  }
});
filteredProjects?.sort((a, b) => (a.data.date > b.data.date ? -1 : 1));

const filteredPosts = await getCollection('posts', post => {
  return filteredProjects.some(
    project => `${locale}/${project.slug}` === post.data.project
  );
});

const title =
  categoryType === 'sector'
    ? 'Sector: ' + categoryName
    : 'Tipo de Proyecto: ' + categoryName;
const pageTitle = `${title} - ${ui.webTitle}`;
const pageDescription = `Proyectos y posts etiquetados con la categoría ${categoryName}`;
---

<Layout {pageTitle} {pageDescription}>
  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-bold">Proyectos relacionados</h2>
    {
      filteredProjects.length > 0 ? (
        <CardGrid projects={filteredProjects} isTiny />
      ) : (
        <p>No hay proyectos relacionados</p>
      )
    }
  </section>
  <!-- <CustomSeparator class="text-accent my-4" /> -->
  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-bold">Posts relacionados</h2>
    {
      filteredPosts.length > 0 ? (
        <CardGrid posts={filteredPosts} isTiny />
      ) : (
        <p>No hay posts relacionados</p>
      )
    }
  </section>
</Layout>
<style>
  ul {
    list-style: disc;
  }
  li {
    margin: 0 2rem;
  }
</style>
