---
import '@/styles/global.css';
import Layout from '@/layouts/Layout.astro';
import { fade } from 'astro:transitions';
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import { fixVideoURL, formatDate } from '@/lib/utils';

// interface Props {
//   frontmatter: {
//     title: string;
//     pubDate: string;
//     description: string;
//     author: string;
//     image?: string;
//     imageAlt?: string;
//     videoUrl?: string;
//     project: string[];
//     tags: string[];
//   };
// }

const { frontmatter } = Astro.props;
const {
  title,
  pubDate,
  description,
  author,
  images,
  imageAlt,
  videoUrl,
  project,
  tags,
} = frontmatter;

const postProject = await getEntry(project);

const formattedDate = formatDate(pubDate);

let fixedVideoURL;
if (videoUrl) {
  fixedVideoURL = fixVideoURL(videoUrl);
}
---

<Layout pageTitle={title} pageDescription={description} isContentPage>
  <header class="">
    <p>
      Proyecto: <a
        class="text-accent font-bold"
        href=`/projects/${postProject?.slug}`>{postProject?.data.title}</a
      >
    </p>
    <p>Publicado el: <strong>{formattedDate}</strong></p>
    <p transition:animate={fade({ duration: '2s' })}>
      <em>{description}</em>
    </p>
    <p>Escrito por: <a href="/about/">{author}</a></p>
    {
      fixedVideoURL && (
        <iframe
          src={fixedVideoURL}
          class="w-full aspect-video bg-gray-800 rounded border"
        />
      )
    }
    {
      images && (
        <div class="w-4/5">
          <img
            class="w-fit"
            src={images}
            alt={imageAlt ?? `Imagen de portada de ${title}`}
          />
        </div>
      )
    }
  </header>
  <section class="content max-w-5xl self-center">
    <slot />
  </section>
  <style>
    .content {
      ul {
        list-style: disc;
      }
      li {
        margin: 0 2rem;
      }
      strong {
        color: hsl(var(--color-accent));
      }
    }
  </style>
</Layout>
