---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";
import { fade } from "astro:transitions";
import { Image } from "astro:assets";

interface Props {
  frontmatter: {
    title: string;
    pubDate: string;
    description: string;
    author: string;
    image_url?: string;
    image_alt?: string;
    video_url?: string;
    project: string[];
    tags: string[];
  };
}

const { frontmatter } = Astro.props;
const {
  title,
  pubDate,
  description,
  author,
  image_url,
  image_alt,
  video_url,
  project,
  tags,
} = frontmatter;

function fixVideoURL(video_url: string) {
  if (video_url.includes("drive.google.com")) {
    return video_url.replace("view?usp=sharing", "preview");
  } else if (video_url.includes("youtube.com")) {
    return video_url.replace("watch?v=", "embed/");
  } else {
    return video_url;
  }
}
let fixedVideoURL;
if (video_url) {
  fixedVideoURL = fixVideoURL(video_url);
}
---

<Layout pageTitle={title} pageDescription={description}>
  <section class="">
    <div class="project-container">
      {
        project.map((project) => (
          <a class="project" href={`/projects/${project}`}>
            {project}
          </a>
        ))
      }
    </div>
    <div class="tag-container">
      {
        tags.map((tag) => (
          <a class="tag" href={`/tags/${tag}`}>
            {tag}
          </a>
        ))
      }
    </div>
    <p>Publicado el: {pubDate.slice(0, 10)}</p>
    <p transition:animate={fade({ duration: "2s" })}>
      <em>{description}</em>
    </p>
    <p>Escrito por: <a href="/about/">{author}</a></p>
    {
      fixedVideoURL && (
        <iframe
          src={fixedVideoURL}
          class="w-full aspect-video bg-gray-800 rounded border"
        />
      )
    }
    {
      image_url && (
        <img
          src={image_url}
          alt={image_alt ?? `Imagen de portada de ${title}`}
        />
      )
    }
    <slot />
  </section>
</Layout>
<style>
  ul {
    list-style: disc;
  }
  li {
    margin: 0 2rem;
  }
</style>
