---
import '@/styles/global.css';
import Layout from '@/layouts/Layout.astro';
import { fade } from 'astro:transitions';
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import {
  fixVideoURL,
  formatDate,
  getImageUrls,
  getSlugWithoutLang,
} from '@/utils/utils';
import ProjectCard from '@/components/ProjectCard.astro';
import ImageGalery from '@/components/ImageGalery.astro';

// interface Props {
//   frontmatter: {
//     title: string;
//     date: string;
//     description: string;
//     author: string;
//     image?: string;
//     imageAlt?: string;
//     videoUrl?: string;
//     project: string[];
//   };
// }

const { frontmatter } = Astro.props;
const {
  title,
  date,
  description,
  author,
  images = [],
  imageUrls = null,
  videoUrl,
  project,
} = frontmatter;

const fixedImages = getImageUrls(imageUrls);
const allImages = [...images, ...fixedImages].filter(Boolean);
console.log('allImages', allImages);

const locale = Astro.currentLocale ?? 'es';
const formattedDate = formatDate(date, locale);

const postProject = await getEntry('projects', `${locale}/${project}`);
const postProjectSlug = getSlugWithoutLang(postProject?.slug);

const { urlType, fixedVideoUrl } = fixVideoURL(videoUrl);
console.log({ fixedVideoUrl });

const animationDelay = 1000;
---

<Layout pageTitle={title} pageDescription={description} isContentPage>
  <header
    class="flex flex-wrap justify-between animate-blurred-fade-in items-center gap-2">
    <section class="flex flex-col gap-2 text-xl max-w-[60%]">
      <h1 class="text-4xl font-bold text-accent">{title}</h1>

      <p>Publicado el: <strong class="text-accent">{formattedDate}</strong></p>
      <p>
        <em>{description}</em>
      </p>
      <p>Escrito por: {author}</p>
    </section>
    <section>
      <ProjectCard
        projectData={postProject?.data}
        linkUrl=`/${locale}/projects/${postProjectSlug}`
        isTiny
      />
    </section>
  </header>
  <section
    class="flex flex-col gap-4 animate-blurred-fade-in animate-delay-800">
    {
      images?.length > 0 && (
        <ImageGalery images={allImages} slidesPerView={2} class="" />
      )
    }
    {
      fixedVideoUrl && urlType === 'googleDrive' && (
        <iframe
          src={fixedVideoUrl}
          class="w-full aspect-video object-cover bg-gray-800 rounded border flex-1"
        />
      )
    }
  </section>
  <section class="content flex flex-col gap-2 text-lg">
    <slot />
  </section>
  <style>
    .content {
      ul {
        list-style: disc;
      }
      li {
        margin: 0 2rem;
      }
      strong {
        color: hsl(var(--color-accent));
      }
    }
  </style>
</Layout>
