---
import '@/styles/global.css';
import Layout from '@/layouts/Layout.astro';
import { fade } from 'astro:transitions';
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import { fixVideoURL, formatDate } from '@/lib/utils';

// interface Props {
//   frontmatter: {
//     title: string;
//     date: string;
//     description: string;
//     author: string;
//     image?: string;
//     imageAlt?: string;
//     videoUrl?: string;
//     project: string[];
//   };
// }

const { frontmatter } = Astro.props;
const {
  title,
  date,
  description,
  author,
  images,
  imageAlt,
  videoUrl,
  project,
} = frontmatter;

const locale = Astro.currentLocale ?? 'es';
const formattedDate = formatDate(date, locale);

const postProject = await getEntry('projects', `${locale}/${project}`);

const { urlType, fixedVideoUrl } = fixVideoURL(videoUrl);
console.log({ fixedVideoUrl });
---

<Layout pageTitle={title} pageDescription={description} isContentPage>
  <header class="">
    <p>
      Proyecto: <a
        class="text-accent font-bold"
        href=`/projects/${postProject?.slug}`>{postProject?.data.title}</a
      >
    </p>
    <p>Publicado el: <strong>{formattedDate}</strong></p>
    <p transition:animate={fade({ duration: '2s' })}>
      <em>{description}</em>
    </p>
    <p>Escrito por: <a href="/about/">{author}</a></p>
    {
      fixedVideoUrl && urlType === 'googleDrive' && (
        <iframe
          src={fixedVideoUrl}
          class="w-full aspect-video bg-gray-800 rounded border"
        />
      )
    }

    {
      images && (
        <div class="w-4/5">
          <img
            class="w-fit"
            src={images}
            alt={imageAlt ?? `Imagen de portada de ${title}`}
          />
        </div>
      )
    }
  </header>
  <section class="content">
    <slot />
  </section>
  <style>
    .content {
      ul {
        list-style: disc;
      }
      li {
        margin: 0 2rem;
      }
      strong {
        color: hsl(var(--color-accent));
      }
    }
  </style>
</Layout>
