---
import '@/styles/global.css';
import Layout from '@/layouts/Layout.astro';
import { fade } from 'astro:transitions';
import CardGrid from '@/components/CardGrid.astro';
import TagIndex from '@/components/TagIndex.astro';
import CustomSeparator from '@/components/CustomSeparator.astro';
import { getEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import { formatDate } from '@/lib/utils';

const { frontmatter, projectSlug } = Astro.props;
console.log(projectSlug);
const { title, date, description, author, image, videoUrl, type, tag } =
  frontmatter;

console.log(frontmatter);
const typeA = await getEntry(frontmatter.type);
console.log(typeA);

const filteredPosts = await getCollection('posts', post => {
  return post.data.project.slug === projectSlug;
});

const formattedDate = formatDate(date);

const pageTitle = `Proyecto: ${title}`;
const pageDescription = `Página del proyecto ${title} de ${type} y ${tag} creado por ${author} el ${date}.`;
---

<Layout {pageTitle} {pageDescription} showTitle={!false}>
  <header class="flex flex-col gap-2">
    <p>Autor: <strong class="text-accent">{author}</strong></p>
    <p>Fecha: <strong class="">{formattedDate}</strong></p>
    <p>{description}</p>
  </header>
  <section class="content">
    <h1 class="text-2xl text-accent font-bold">{title}</h1>
    <slot />
  </section>
  <CustomSeparator class="text-accent" />
  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-bold">Posts relacionados</h2>
    {
      filteredPosts.length > 0 ? (
        <CardGrid posts={filteredPosts} isTiny />
      ) : (
        <p>No hay posts relacionados</p>
      )
    }
  </section>
</Layout>
<!-- <TagIndex tags={filteredCategories} class="w-1/2" /> -->
<!-- {
  filteredCategories.map(category => {
    const { frontmatter, url } = category;
    const { name } = frontmatter;
    return (
      <a href={url} class="text-accent hover:underline">
        {name}
      </a>
    );
  })
} -->

<style>
  ul {
    list-style: disc;
  }
  li {
    margin: 0 2rem;
  }
</style>
