---
import '@/styles/global.css';
import Layout from '@/layouts/Layout.astro';
import { fade } from 'astro:transitions';
import CardGrid from '@/components/CardGrid.astro';
import CategoryIndex from '@/components/CategoryIndex.astro';
import CustomSeparator from '@/components/general/CustomSeparator.astro';
import { getEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import {
  fixVideoURL,
  fixWebUrl,
  formatDate,
  getImageUrls,
} from '@/utils/utils';
import { getLocaleTranslation } from '@/i18n/ui';
import Link from '@/components/general/Link.astro';
import ImageGalery from '@/components/ImageGalery.astro';
import VideoPlayer from '@/components/VideoPlayer.astro';

const locale = Astro.currentLocale ?? 'es';
const ui = getLocaleTranslation(locale);

// export interface Props {
//   frontmatter: {
//     title: string;
//     date: string;
//     description: string;
// }

const { frontmatter, projectSlug } = Astro.props;
const {
  title,
  date,
  description,
  author,
  web,
  images = [],
  imageUrls = '',
  videoUrl,
  type,
  sector,
} = frontmatter;

const projectType = await getEntry(frontmatter.type);
const projectSector = await getEntry(frontmatter.sector);

const filteredPosts = await getCollection('posts', post => {
  const postSlug = post.slug;
  return (
    postSlug.startsWith(locale) &&
    projectSlug === locale + '/' + post.data.project
  );
});

const formattedDate = formatDate(date, locale);

const { urlType, fixedVideoUrl } = fixVideoURL(videoUrl);
console.log({ fixedVideoUrl });

const pageTitle = title.includes('proyecto')
  ? `${ui.textContent.projects.projectLayout.title}: ${title}`
  : title;
const pageDescription = `${ui.textContent.general.project}: ${title} | ${ui.textContent.general.projectType}: ${type} | ${ui.textContent.general.sector}: ${sector} | ${ui.textContent.general.author}: ${author} | ${ui.textContent.general.date}: ${formattedDate}.`;
---

<Layout {pageTitle} {pageDescription} isContentPage>
  {
    title && description ? (
      <>
        <header class="flex flex-col gap-4 text-xl">
          <section class="flex flex-wrap justify-between gap-2">
            <div class="flex flex-col gap-2">
              <h1 class="text-3xl text-accent font-bold">{title}</h1>
              {web && (
                <Link
                  title={web}
                  link={fixWebUrl(web)}
                  icon="mdi:web"
                  class="text-lg items-center"
                />
              )}
            </div>
            <div class="flex flex-col gap-2">
              <p>
                {ui.textContent.general.author}:{' '}
                <strong class="text-accent">{author}</strong>
              </p>
              <p>
                {ui.textContent.general.date}:{' '}
                <strong class="">{formattedDate}</strong>
              </p>
            </div>
          </section>
          <p>
            <em>{description}</em>
          </p>
          {images.length > 0 && <ImageGalery images={images} />}
          {fixedVideoUrl && (
            <VideoPlayer videoUrl={fixedVideoUrl} urlType={urlType} />
          )}
        </header>
        <section class="content flex flex-col gap-2 text-lg">
          <slot />
        </section>
        <CustomSeparator class="text-accent" />
        <section class="flex flex-col gap-4">
          <h2 class="text-2xl font-bold">
            {ui.textContent.general.relatedPosts}
          </h2>
          {filteredPosts.length > 0 ? (
            <CardGrid posts={filteredPosts} isTiny />
          ) : (
            <p>{ui.textContent.general.noPostsRelated}</p>
          )}
        </section>
      </>
    ) : (
      <h1 class="text-2xl text-center">{ui.textContent.noPageTranslation}</h1>
    )
  }
</Layout>
<!-- <CategoryIndex categories={filteredCategories} class="w-1/2" /> -->
<!-- {
  filteredCategories.map(category => {
    const { frontmatter, url } = category;
    const { name } = frontmatter;
    return (
      <a href={url} class="text-accent hover:underline">
        {name}
      </a>
    );
  })
} -->

<style>
  ul {
    list-style: disc;
  }
  li {
    margin: 0 2rem;
  }
</style>
